# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore


# Ignore all backup files.
*~

# Log files
*.log

# htaccess
/.htaccess

# Composer
/vendor/
composer.lock

# Tests
.phpunit.result.cache

# Custom directives
node_modules
assets/css/compiled
assets/bootstrap-italia/css/bootstrap-italia-custom.min.css
AGENTS/ISSUES_TODO.md
AGENTS/ISSUES_RESOLVED.md
